@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    background-color: #ffad23;
}

main {
    width: 80vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #121418;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

main .wrapper {
    padding: 30px;
}

main .wrapper .logo {
    font-size: 3.5em;
    margin: 0 auto;
    text-align: center;
}

main .wrapper .joke {
    text-align: center;
    margin: 30px 0;
}

main .wrapper .btn button {
    display: block;
    padding: 10px;
    border-radius: 10px;
    background: #ffad23;
    font-weight: 500;
    margin: 0 auto;
    font-size: 1rem;
    cursor: pointer;
}